@font-face {
    font-family: "SegoeUIBold";
    src: url("./fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("./fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype"),
    url("./fonts/SegoeUIBold/SegoeUIBold.woff") format('woff')
};

@font-face {
    font-family: "SegoeUIRegular";
    src: url('./fonts/SegoeUIRegular/SegoeUIRegular.eot');
    src: url('./fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype'),
    url('./fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff');
}