@import '../../styles/variables';
@import '../../styles/mixins';

.splashScreen {
  @include centrate($main: center, $cross: center);
  width: 100vw;
  height: 100dvh;
  background: $clr-bg-primary-lt;
}

.splashIcon {
  width: 50vw;
  height: auto;
  max-width: 300px;
}
